/* Color */
$main-color: #2a8164;
$main-color-2: #0a334d;
$second-color: #d2440f;

/* Screen */
$max-width : 805px;
$screen-tablet: 1024px - 0.02;
$screen-sm-tablet: 960px - 0.02;
$screen-mb: 768px - 0.02;
$screen-mb-small: 414px - 0.02;

/* Fonts */
$main-font: "Inter",sans-serif;
